#slider-container {
    position: relative;
    overflow: hidden;
    width: 80%;
    margin: auto;
    margin-top: 50px;
    border: 2px solid #333;
}

#slider {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slide {
    width: 100%;
    box-sizing: border-box;
}

img {
    width: 100%;
    height: auto;
    display: block;
}

#next-btn {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #bd5d5d;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

header input[type="text"] {
    padding: 8px;
    width: 200px;
}

section {
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

footer {
    background-color: #333;
    color: #dc3a3a;
    padding: 10px;
    text-align: center;
 
    width: 100%;
}
#search-results {
    display: none;
    position: absolute;
    top: 100%;
    margin-top: 2s0px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1;
}

#search-results a {
    display: block;
    padding: 10px;
    color: #333;
    text-decoration: none;
}

#search-results a:hover {
    background-color: #ddd;
}
